@using System.Configuration;
@using System.Collections.Specialized;
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var adminUser = User.IsInRole("Administrator");
    var section = ConfigurationManager.GetSection("remoteApiConfiguration") as NameValueCollection;
    var privateApiKey = section["PrivateKey"];
}

<h3>Movies</h3>
@if (adminUser)
{
    <p>
        <button class='btn btn-link js-new' style="padding-left: 0px">New Movie</button>
    </p>
}
<table id="moviesTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("#")
            </th>
            <th>
                @Html.DisplayName("Movie")
            </th>
            <th>
                @Html.DisplayName("Details")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            window.adminUser = '@adminUser';
            window.privateApiKey = '@privateApiKey';
            window.dtable = $('#moviesTable').DataTable({
                'ordering': false,
                'bLengthChange': false,
                'lengthMenu': [[5], [5]],
                'length': 5,
                ajax: {
                    url: '/Movies/GetMoviesList/',
                    dataSrc: 'resources'
                },
                columns: [
                    {
                        data: 'id',
                        width: 30,
                        render: function (data, type, row, meta) {
                            var index = meta.row + meta.settings._iDisplayStart + 1;
                            return padLeft(index, 2, 0);
                        }
                    },
                    {
                        data: 'base64Poster',
                        width: 100,
                        searchable: false,
                        render: function (data, type, movie) {
                            return "<img src=data:image/jpeg;base64," + movie.base64Poster + " width='135' height='200'>";
                        }
                    },
                    {
                        data: 'name',
                        width: 200,
                        render: function (data, type, movie) {
                            return '<p>Name: ' + movie.name + '</p>' +
                                '<p>Genre: ' + movie.genre + '</p>' +
                                '<p>Release date: ' + movie.releaseDate + '</p>' +
                                '<p>Stock: ' + movie.totalUnits + '</p>' +
                                '<p>Available units: ' + movie.availableUnits + '</p>';
                        }
                    },
                    {
                        data: 'description'
                    },
                    {
                        data: 'id',
                        width: 110,
                        orderable: false,
                        render: function (data, type, movie) {
                            if (JSON.parse(window.adminUser.toLowerCase())) {
                                return "<button movieId=" + movie.id + " class='btn btn-link js-edit'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                    "<button movieId=" + movie.id + " class='btn btn-link js-delete'><span class='glyphicon glyphicon-trash'></span></button>";
                            }
                            return null;
                        }
                    }
                ]
            });
            window.httpPostResult = function (result) {
                if (result.success == true) {
                    window.dtable.draw().ajax.reload();
                    toastr.success('The operation was completed successfully.', null, { 'positionClass': 'toast-bottom-right' });
                    $('#modalDialog').modal('hide');
                } else if (result.success == false) {
                    toastr.error('An error has occurred.', null, { 'positionClass': 'toast-bottom-right' });
                } else {
                    $('#modalContent').html(result);
                }
            }
        });
    </script>
    @if (adminUser)
    {
        <script>
            $(document).on('click', '.js-new', function () {
                $.ajax({
                    url: '/Movies/Create/',
                    type: 'GET',
                    success: function (data) {
                        $('#modalContent').html(data);
                        $('#modalDialog').modal('show');
                    }
                });
            });
            $(document).on('click', '.js-edit', function () {
                var button = $(this);
                $.ajax({
                    url: '/Movies/Edit/' + button.attr('movieId'),
                    type: 'GET',
                    success: function (data) {
                        $('#modalContent').html(data);
                        $('#modalDialog').modal('show');
                    }
                });
            });
            $(document).on('click', '.js-delete', function () {
                var button = $(this);
                bootbox.confirm('Do you want to delete this movie?', function (response) {
                    if (response) {
                        $.ajax({
                            url: '/Movies/Delete/' + button.attr('movieId'),
                            type: 'POST',
                            success: httpPostResult
                        })
                    }
                });
            });
        </script>
    }
}
